In [5]:
from datetime import datetime
from vortexasdk import CargoMovements

In [6]:
dt = datetime(2017, 8, 1)

In [7]:
CargoMovements().search(filter_time_max=dt, filter_time_min=dt, filter_activity="loading_state").to_df()

2020-04-21 10:04:27,631 vortexasdk.operations — INFO — Searching CargoMovements with params: {'filter_activity': 'loading_state', 'filter_time_min': '2017-08-01T00:00:00.000Z', 'filter_time_max': '2017-08-01T00:00:00.000Z', 'timeseries_activity_time_span_min': None, 'timeseries_activity_time_span_max': None, 'cm_unit': 'b', 'filter_charterers': [], 'filter_owners': [], 'filter_products': [], 'filter_vessels': [], 'filter_destinations': [], 'filter_origins': [], 'filter_storage_locations': [], 'filter_ship_to_ship_locations': [], 'filter_waypoints': [], 'disable_geographic_exclusion_rules': None, 'size': 500}

Loading from API:   0%|          | 0/837 [00:00<?, ?it/s]

2020-04-21 10:04:28,007 vortexasdk.client — INFO — 837 Results to retreive. Sending 2 post requests in parallel using 6 threads.

Loading from API: 1000it [00:01, 887.58it/s]

,events.cargo_port_load_event.0.location.port.label,events.cargo_port_unload_event.0.location.port.label,product.group.label,product.grade.label,quantity,vessels.0.name,events.cargo_port_load_event.0.end_timestamp,events.cargo_port_unload_event.0.start_timestamp
0,"Baton Rouge, LA [US]",La Libertad [EC],Clean Petroleum Products,NaN,218878,CANAL STREET,2017-08-01T21:14:22+0000,2017-08-21T21:22:22+0000
1,Taman [RU],Augusta [IT],Dirty Petroleum Products,NaN,201896,NAFTILOS AN,2017-08-02T09:59:28+0000,2017-08-11T11:54:11+0000
2,NaN,Ceyhan [TR],Clean Petroleum Products,NaN,265756,VIKTOR BAKAEV,NaN,2017-08-10T08:41:59+0000
3,Malacca (Melaka) [MY],Port Kelang [MY],Dirty Petroleum Products,NaN,18944,M T SIDRA MESSAIED,2017-08-03T11:31:56+0000,2017-08-03T21:04:35+0000
4,"Yeosu (Yosu), Gwangyang [KR]","Barbers Point-Honolulu, HI [US]",Crude/Condensates,Sokol (Sakhalin I),720729,NEW ACCORD,2017-08-02T01:29:38+0000,2017-08-18T19:55:31+0000
...,...,...,...,...,...,...,...,...
832,"Ulsan, Onsan [KR]","Pinghu, Jiaxing [CN]",Clean Petroleum Products,NaN,13453,NO.9 SJGAS,2017-08-01T02:34:47+0000,2017-08-05T03:55:49+0000
833,"Houston, TX [US]",Wakayama [JP],Clean Petroleum Products,NaN,87855,IVY EXPRESS,2017-08-01T17:36:03+0000,2017-09-08T02:32:18+0000
834,Le Havre [FR],Alexandria [EG],Clean Petroleum Products,NaN,4805,ALSIA SWAN,2017-08-01T06:10:45+0000,2017-08-12T19:37:38+0000
835,"Yeosu (Yosu), Gwangyang [KR]",Rotterdam [NL],Clean Petroleum Products,Jet A-1,275046,EAGLE LYON,2017-08-07T03:10:21+0000,2017-09-15T00:07:54+0000
836,"Yeosu (Yosu), Gwangyang [KR]","Ulsan, Onsan [KR]",Clean Petroleum Products,NaN,46720,WOOJIN KELLY,2017-08-01T17:06:12+0000,2017-08-02T04:28:11+0000

In [ ]:
	vessels.2.name